.wishlist{
    display: flex;
    align-items: center;
}

.wishlist p {
    margin-right: 10px;
}

.wishlist img{
    width: 28px;
    border: 1px solid whitesmoke;
    margin-right: 15px;
}

.wishlist button{
    border: none;
    background-color: gainsboro;
}