.laptop-container{
    border: 1px solid gainsboro;
    border-radius: 10px;
    height: 380px;
    position: relative;
}

.laptop-container img{
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.laptop-details{
    margin-left: 10px;
}

.addToWishlist{
    display: flex;
    align-items: center;
    width: 100%;
    position: absolute;
    bottom: 0;
    border: none;
    border-radius: 0 0 10px 10px;
}

.addToWishlist:hover{
    background-color: rgb(44, 44, 44);
    color: white;
}

.addToWishlist p{
    margin-right: 5px;
    margin-left: 30%;
}

@media screen and (max-width:576px) {

    .laptop-container{
        height: 500px;
    }

}
