.shop{
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.laptops-container{
    width: 90%;
    padding: 3% 5%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 4%;
}

.cart-container{
    background-color: gainsboro;
    height: 500px;
    margin: 12% 3%;
    padding: 20px;
}