.shop{
    display: grid;
    grid-template-columns: 4fr 1fr;
    margin-top: 3%;
    margin-bottom: 250px;
}

.laptops-container{
    width: 90%;
    padding: 3% 5%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 4%;
}

.cart-container{
    position: sticky;
    top: 0;
    background-color: gainsboro;
    height: 500px;
    margin: 12% 3%;
    padding: 20px;
    border-radius: 10px;
}

.clearWishlist{
    border: none;
    background-color: grey;
    color: white;
    border-radius: 5px;
    padding: 0 30px;
    margin-bottom: 10px;
}

@media screen and (max-width: 576px) {
    .shop{
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
    }
    .laptops-container{
        grid-template-columns: repeat(1,1fr);
        gap: 20px;
        order: 1;
    }
    .cart-container{
        order: 0;
        position: relative;
        height: auto;
    }
    .clearWishlist{
        display: block;
    }
}   