.navbar{
    background-color: gainsboro;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
    height: 80px;
}

.navbar a{
    text-decoration: none;
    margin-right: 30px;
    color: black;
}

.navbar a:hover{
    text-decoration: underline;
    color: grey;
}